<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is the sample application for the
  <a href="http://www.railstutorial.org/book">Ruby on Rails Tutorial</a>,
  with some customization I've added for fun. 
  It's the first website I've ever made, so give me some credit.
  It took me about a week to make it, reading along with the tutorial.
  <br><br>
  If you sign up (or log in with email = "example-1@railstutorial.org" and password = "password"),
  you'll notice the database is seeded with several Chuck Norris facts, generated using
  the very cool <a href="https://github.com/stympy/faker">Faker library</a>.
  
  
</p>